<!DOCTYPE html>
<!--[if lte IE8]!><html class='no-js oldie' lang='en'><![endif]-->
<!--[if gt IE8]><!--><html class='no-js' lang='en'><!--<![endif]-->
<head>

  <meta charset='UTF-8'/>
  <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'/>
  <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'/>
  <meta name='description' content= ''/>
  <meta name='author' content='Craig Dallimore'/>

  <title>{% block title %}{% endblock %}</title>

  <link rel='shortcut icon' type='image/png' href='/static/img/favicon.png'/>
  <link rel='stylesheet' href='/static/dist/app.css'/>


  <script src='/static/js/libs/selectivizr-1.0.2.min.js'></script>
  <script src='/static/js/libs/modernizr-2.6.2.min.js'></script>

</head>
<body ng-app="datavis">
  <noscript><span>This site works better with JavaScript enabled</span></noscript>
  {% block content  %}{% endblock %}
  <script src="static/js/libs/require.js" data-main="static/js/config"></script>
</body>
</html>

