{% extends "layout.jinja2" %}

{% block title %}
Jinja2ified
{% endblock %}
{% block content %}

  <header>
    <h1>jinja2$</h1>
  </header>

  <section ng-view>

    <p>DataVis</p>

  </section>

{% endblock %}
