{% extends "layout.jinja2" %}

{% block title %}
D3 and Angular
{% endblock %}
{% block content %}

  <header>
    <h1>D3 & Angular</h1>
  </header>

  <section ng-view>

    <p>Loading...</p>

  </section>

{% endblock %}
